Repository Kernel360/KFE3-bootup-SAJO: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{js,jsx,ts,tsx,json,md}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm turbo lint --filter={staged_files}

pre-push:
  commands:
    build-check:
      run: pnpm turbo build

chore: lefthook.yaml 수정 (#8)
  lefthook.yml
Due: none

settings: turborepo 설치를 위해 모든 파일을 별도로 분리 (#2)D
  plain.txt
Due: none

settings: tailwindcss 설정 (#10)
  apps/docs/package.json
  apps/web/app/globals.css
  apps/web/app/page.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/postcss.config.mjs
  lefthook.yml
  pnpm-lock.yaml
Due: format, lint

settings: Prettier + Tailwind 플러그인 설치 (#10)
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: format

settings: Shadcn/ui 설치, 컴포넌트 라이브러리 추가 (#10)
  apps/web/app/globals.css
  apps/web/components.json
  apps/web/components/ui/button.tsx
  apps/web/components/ui/card.tsx
  apps/web/lib/utils.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: format, lint

refactor: 모노레포 셋팅 리팩토링 (#16)
  .gitignore
  apps/web/package.json
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.ts
  packages/tailwind-config/tsconfig.json
  packages/typescript-config/package.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/vitest.setup.ts
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/postcss.config.mjs
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/global.css
  packages/ui/tailwind.config.ts
  packages/ui/vitest.config.ts
  packages/ui/vitest.shims.d.ts
  pnpm-lock.yaml
Due: format, lint

refactor: 모노레포 셋팅 리팩토링 (#16) (#17)
  .gitignore
  apps/web/package.json
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.ts
  packages/tailwind-config/tsconfig.json
  packages/typescript-config/package.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/vitest.setup.ts
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/postcss.config.mjs
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/global.css
  packages/ui/tailwind.config.ts
  packages/ui/vitest.config.ts
  packages/ui/vitest.shims.d.ts
  pnpm-lock.yaml
Due: format, lint

refactor : 기존의 textInput 리팩토링 / 디자인 시스템 기반으로 변수 설정(#19)
  packages/eslint-config/package.json
  packages/eslint-config/react-internal.js
  packages/ui/.storybook/main.ts
  packages/ui/eslint.config.mjs
  packages/ui/src/Input/textInput.tsx
  pnpm-lock.yaml
Due: format, lint

feat: feature-sliced design 구조에 맞게 디렉토리 위치 변경 (#18)
  apps/web/app/widgets/.gitkeep copy
  apps/web/entities/.gitkeep
  apps/web/features/.gitkeep
  apps/web/fonts/GeistMonoVF.woff
  apps/web/fonts/GeistVF.woff
  apps/web/pages/.gitkeep
  apps/web/shared/api/.gitkeep
  apps/web/shared/config/.gitkeep
  apps/web/shared/lib/.gitkeep
  apps/web/shared/ui/.gitkeep
  apps/web/widgets/.gitkeep
Due: none

refactor : 기존의 textInput 리팩토링(2) / 컴포넌트 props로 …props 대신 명확한 className + cn함수 사용(#19)
  packages/ui/package.json
  packages/ui/src/Input/textInput.stories.tsx
  packages/ui/src/Input/textInput.tsx
  packages/ui/src/lib/utils/cn.ts
  pnpm-lock.yaml
Due: format, lint

README.md 내용 추가#21
  README.md
Due: format

[Refactor] 기존의 textInput 리팩토링#19 (#22)
  packages/eslint-config/package.json
  packages/eslint-config/react-internal.js
  packages/ui/.storybook/main.ts
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/src/Input/textInput.stories.tsx
  packages/ui/src/Input/textInput.tsx
  packages/ui/src/lib/utils/cn.ts
  pnpm-lock.yaml
Due: format, lint

README.md 내용 추가#21 (#24)
  README.md
Due: format

feat: feature-sliced design 구조에 맞게 디렉토리 위치 변경 (#18) (#20)
  apps/web/app/widgets/.gitkeep copy
  apps/web/entities/.gitkeep
  apps/web/features/.gitkeep
  apps/web/fonts/GeistMonoVF.woff
  apps/web/fonts/GeistVF.woff
  apps/web/pages/.gitkeep
  apps/web/shared/api/.gitkeep
  apps/web/shared/config/.gitkeep
  apps/web/shared/lib/.gitkeep
  apps/web/shared/ui/.gitkeep
  apps/web/widgets/.gitkeep
Due: none

refactor : 기존의 Modal 리팩토링 / 아이콘 시의성 고려 리팩토링 (Alert → Danger로 변경/text-[24px]로 통일) / 포커스 트랩 리팩토링 (#23)
  packages/ui/package.json
  packages/ui/src/Modal/Modal.stories.tsx
  packages/ui/src/Modal/Modal.tsx
  pnpm-lock.yaml
Due: format, lint

refactor : 기존의 Modal 리팩토링 / 아이콘 시의성 고려 리팩토링 (Alert → Danger로 변경/text-[24px]로 통일) / 포커스 트랩 리팩토링 (#23) (#25)
  packages/ui/package.json
  packages/ui/src/Modal/Modal.stories.tsx
  packages/ui/src/Modal/Modal.tsx
  pnpm-lock.yaml
Due: format, lint

chore: 이슈템플릿 업데이트
  .github/ISSUE_TEMPLATE/chore.yml
  .github/ISSUE_TEMPLATE/design.yml
  .github/ISSUE_TEMPLATE/feat.yml
  .github/ISSUE_TEMPLATE/fix.yml
  .github/ISSUE_TEMPLATE/hotfix.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/ISSUE_TEMPLATE/test.yml
Due: none

chore : Github Actions Setting 및 각 단계 로컬 테스팅 완료(#2)
  .github/workflows/ci.yml
  apps/docs/app/page.tsx
  apps/docs/next.config.js
  apps/docs/package.json
  apps/web/app/layout.tsx
  apps/web/eslint.config.js
  apps/web/next.config.js
  apps/web/package.json
  apps/web/public/fonts/GeistMonoVF.woff
  apps/web/public/fonts/GeistVF.woff
  package.json
  packages/eslint-config/package.json
  packages/tailwind-config/package.json
  packages/typescript-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: format, lint

chore : Github Actions Ubuntu error fix
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

fix : Github Actions Ubuntu error fix(2)
  .github/workflows/ci.yml
Due: none

fix : Github Actions Ubuntu error fix(3)
  .github/workflows/ci.yml
Due: none

fix : Github Actions Ubuntu error fix(4)
  .github/workflows/ci.yml
Due: none

fix : Github Actions Ubuntu error fix(5)
  .github/workflows/ci.yml
Due: none

fix : Github Actions Ubuntu error fix(6)
  .github/workflows/ci.yml
Due: none

fix : Github Actions Ubuntu error fix(7)
  .github/workflows/ci.yml
Due: none

fix : Github Actions Ubuntu error fix(8)
  .github/workflows/ci.yml
Due: none

fix : Github Actions Ubuntu error fix(9)
  .github/workflows/ci.yml
Due: none

fix : Github Actions Ubuntu error fix(10)
  .github/workflows/ci.yml
Due: none

fix : Github Actions Ubuntu error fix(11)
  .github/workflows/ci.yml
Due: none

fix: Lint error fix
  .github/workflows/ci.yml
  packages/eslint-config/package.json
  packages/typescript-config/package.json
  pnpm-lock.yaml
Due: format

fix: Lint error fix(2)
  packages/tailwind-config/package.json
Due: format

fix: Lint error fix(3)
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: format

fix: Lint error fix(4)
  apps/web/package.json
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/ui/.gitignore
  packages/ui/eslint.config.mjs
  packages/ui/src/Modal/Modal.stories.tsx
  pnpm-lock.yaml
Due: format, lint

fix: Test 주석 처리
  .github/workflows/ci.yml
Due: none

fix: build error fix
  apps/docs/app/page.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/src/Input/textInput.tsx
  packages/ui/src/Modal/Modal.tsx
Due: format, lint

core:eslint,prettier, tailwindcss setting(#3)
  eslint.config.mjs
  package.json
  packages/eslint-config/base.js
  packages/eslint-config/index.js
  packages/eslint-config/javascript.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react-internal.js
  packages/eslint-config/react.js
  packages/eslint-config/typescript.js
  packages/tailwind-config/tailwind.config.ts
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/src/code.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: format, lint

fix: check-types 제거, typecheck만 사용
  apps/docs/package.json
  apps/web/package.json
  packages/ui/package.json
Due: format

chore : 루트의 dependencies 패키지 삭제 및 각 경로에 맞는 dependencies 패키지 설치
  apps/web/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: format

chore: globals 패키지 루트 설치
  package.json
  pnpm-lock.yaml
Due: format

chore: 루트에 tailwindCSS 제거
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: format
